img {
    height: auto;
    width: 45%;
}

.body .imagenEmpresa{
    margin-bottom: -60%;
}

.body .bodyDatos{
    position : relative;
    height: 50%;
    width: 50%;
    /*margin-bottom: -500px;*/
    margin-left: 48%;
}

#button{
    direction: rtl;
}
h3 {
    direction: rtl;
}