img {
    height: 45%;
    width: 45%;
}

.body .imagenEmpresa{
    margin-bottom: -855px;
}

.body .bodyDatos{
    position : relative;
    height: 50%;
    width: 50%;
    /*margin-bottom: -500px;*/
    margin-left: 650px;
}

#button{
    direction: rtl;
}
h3 {
    direction: rtl;
}