@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body {
  width:100%;
  height: auto;
	font-size:80%;
  background-color:   #F0EDE8 ;
}

img{
  width: 40%;
  height: 100%;
  z-index:0;
  position:absolute;
}

#foodOffer{
  z-index:10;
  float:left;
  position:absolute;
  background-color: #E57603;
  font-family: Poppins;
  font-size: 200%;
  letter-spacing: 8px;
  line-height: 1;
  padding: 1%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #F0EDE8;
}

#titulo{
  z-index:20;
  float:right;
  position:relative;
  background-color: #E57603;
  font-family: Poppins;
  font-size:250%;
  letter-spacing: 8px;
  line-height: 1;
  padding: 1%;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  color: #F0EDE8;
}

#moveform{
  margin:3%;
  margin-top:6%;
  margin-left:43%;
  width: 54%;
  height:80%;
  float:right;
  z-index:40;
  position:absolute;
}
 



